/* Footer Styles */
footer {
  background-color: #fff; /* Outer white background */
  padding: 60px 0;
  color: #333;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #f8f8f8; /* Inner smoke white background */
  padding: 20px;
  border-radius: 2px;
  gap: 40px; /* Add equal spacing between footer columns */
}

.footer-column {
  flex-basis: 50%;
}

.footer-column h4 {
  font-size: 25px;
  margin-bottom: 17px;
  color: #333;
}

.footer-column p {
  font-size: 14px;
  color: #777;
  line-height: 1.5;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #777;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #555;
}

.bottom-footer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-footer p {
  font-size: 14px;
  color: #777;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons li a {
  color: #777;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons li a:hover {
  color: #555;
}

/* Custom Background Styles */
.footer-logo {
  height: 35px;
}

.wave {
  position: relative;
  overflow: hidden;
}

.wave::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px; /* Increase the height to extend the smoke white background */
  background-color: #f8f8f8; /* Inner smoke white background for the wave */
  transform-origin: center bottom;
  transform: scaleY(2);
}
