/* App.css */
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.parallax {
  background-image: url('./assets/mountains.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  height: 80px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; /* Increased padding for responsiveness */
}

.logo {
  height: 50px;
  margin-left: 20px; /* Adjust margin for responsiveness */
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; /* Added alignment for responsiveness */
}

.navigation li {
  margin-left: 20px;
}

.navigation li:first-child {
  margin-left: 0;
}

.navigation a {
  text-decoration: none;
  color: #333;
}

.app {
  min-height: 100vh;
}

.footer {
  text-align: center;
  padding-top: 80px;
  font-size: 24px;
}

.section {
  min-height: 1000px;
  background-color: transparent;
  color: black;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

.section-content {
  position: relative;
  z-index: 1;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header {
    padding: 0 10px; /* Adjust padding for responsiveness */
  }

  .logo {
    margin-left: 10px; /* Adjust margin for responsiveness */
  }

  .navigation {
    flex-direction: column; /* Change to vertical layout on small screens */
    align-items: flex-start; /* Adjust alignment for vertical layout */
  }

  .navigation li {
    margin-left: 0;
    margin-bottom: 10px; /* Add margin-bottom for spacing in vertical layout */
  }
}
